<!DOCTYPE html> 

html(lang="es")
    include resourses/templates/template_head_index.pug
    style. 
        [data-content]{
            display: none;
        }

        .active_button[data-target]{
            background-color: rgba(127, 255, 212, 0.418);
        }

        .active[data-content]{
            display: grid;
        }


    body
        .wrapper_admin
            section.sidebar
                a.a_button(name="anchor" href="administrative_panel.html")
                    img(src="/images/logo.svg")
                hr.horizontal_line
                ul.ul_button
                    button#add_product(data-target="#tab_add_product") Agregar producto
                    button#add_tag(data-target="#tab_add_tag") Etiquetas
                    button#add_stamping_materials(data-target="#tab_add_stamping_materials") Materiales de estampados
                    button#add_quantity_pricing_table(data-target="#tab_add_quantity_pricing_table") Tabla de precios
                    button#my_profile(data-target="#tab_my_profile") Mi perfil
                hr.horizontal_line

            section.sidebar_contend
                section#tabs
                    section#tab_add_product(data-content)
                        include resourses/templatesAdmin/content_add_product.pug
                    section#tab_add_tag(data-content)
                        section.section_add_product
                            h1 Etiquetas
                            form#form_upload_add_product_id.form_add_product(enctype="multipart/form-data")
                                label Nombre de etiqueta&nbsp;
                                input.library-sizeAndStyle-inputOfAForm.library-color-commonFormInputs(type="" name="name_of_product" required)
                                label Descripción
                                input.library-sizeAndStyle-inputOfAForm.library-color-commonFormInputs
                                label Portada de etiqueta
                                div 
                                    input(name="upload_file[]" type="file" multiple="")
                                    label(for="") Subir archivo
                                input#upload_add_product(type="submit" value="Subir Etiqueta")
                    section#tab_add_stamping_materials(data-content)
                        section.section_add_product
                            h1 Materiales de estampados
                            form#form_upload_add_product_id.form_add_product(enctype="multipart/form-data")
                                label(for="") Nombre de material
                                input.library-sizeAndStyle-inputOfAForm.library-color-commonFormInputs(type="" name="name_of_product" required)
                                label(for="") Descripción
                                textarea.library-sizeAndStyle-inputOfAForm.library-color-commonFormInputs(type="description_product" name="" cols="30" rows="10")
                                label(for="") Archivo
                                div 
                                    input(name="upload_file[]" type="file" multiple="")
                                    label(for="") Subir archivo
                                input#upload_add_product(type="submit" value="Subir materiales de estampados")
                            #result_message

                    section#tab_add_quantity_pricing_table(data-content)
                        section.section_add_product
                            h1 Tabla de precios
                            form#form_upload_add_product_id.form_add_product(enctype="multipart/form-data")
                                label(for="") Materiales de estampados
                                select.library-sizeAndStyle-inputOfAForm.library-color-commonFormInputs#product_label_id(type="" name="product_label")
                                    option(disabled="" selected) Selecciona una etiqueta
                                    option Ingles
                                    option Frances
                                    option Italiano
                                label(for="") 1-11
                                input.library-sizeAndStyle-inputOfAForm.library-color-commonFormInputs(type="" name="name_of_product" required)
                                label(for="") 12-24
                                textarea.library-sizeAndStyle-inputOfAForm.library-color-commonFormInputs(type="description_product" name="" cols="30" rows="10")
                                label(for="") 25-49
                                input.library-sizeAndStyle-inputOfAForm.library-color-commonFormInputs(type="" name="product_size")
                                label(for="") 50-99
                                input.library-sizeAndStyle-inputOfAForm.library-color-commonFormInputs(type="number" name="product_price_in_soles")
                                label(for="") 100-+
                                input.library-sizeAndStyle-inputOfAForm.library-color-commonFormInputs(type="number" name="product_quantity")
                                input#upload_add_product(type="submit" value="Subir tabla de precios")
                            #result_message

                    section#tab_my_profile(data-content)
                        p Mi perfil

        script.
            const targets = document.querySelectorAll('[data-target]');
            const content = document.querySelectorAll('[data-content]');

            document.querySelector('#add_product').classList.add('active_button');
            document.querySelector('#tab_add_product').classList.add('active');

            console.log(targets);
            targets.forEach(target=>{
                target.addEventListener('click', ()=>{
                    content.forEach(c=>{
                        c.classList.remove('active')
                    });  

                    const t = document.querySelector(target.dataset.target);
                    t.classList.add('active')

                    targets.forEach(t=>{
                        t.classList.remove('active_button')
                    });

                    const b = document.getElementById(target.id);
                    b.classList.add('active_button');

                })

            });


        script(src="/scripts/temporaryAdmin.js")