//- Se debe compilar en la carpeta raiz.

include resourses/templates/template_head_index.pug

doctype html
html(lang="es")
    +head_template()
    body
        +menu_of_navigation()
        section.wrapper 
            +card_products_template()
            +title_of_page(
                'Estampado de polos', 
                'Nos dedicamos a la venta el diseño y estampado de prendas personalizadas.')
            +section_of_cards(
                'Los tipos de estampado que usamos son.', 
                'stamping_materials')
            +section_of_cards(
                'Los precios del estampado dependen del tamaño del diseño, ascí como el color de la prenda. Prenda: Negra, de colores, blanca.', 
                'stamping_size')
            +button_section()
        +footer_sira()
        script(src="scripts/firs_index.js") 
