//- Se debe compilar en la carpeta raiz.

<!DOCTYPE html> 
mixin card-products(tex_of_card)
    div 
        div: img(src="http://pinegrow.com/placeholders/img13.jpg") 
        p= tex_of_card

html(lang="es")
    include resourses/templates/template_head_index.pug
    body
        nav
            a(href="/" style="width: 6.5em;")
                img(width="250" src="/images/logo.svg" alt="#")
            div
                a(href="https://sites.google.com/view/siraq-shop/inicio") Catalogo de polos en stock
                a Nosotros
        section.wrapper 
            section
                h2 Estampado de polos
                p Nos dedicamos a la venta el diseño y estampado de prendas personalizadas.
            section
                p Los tipos de estampado que usamos son.
                template#template_stamping_materials
                    div
                        div: img 
                        p
                section.tipos_estampados#stamping_materials
                    //- +card-products('Base directa')
                    //- +card-products('Sublimado')
                    //- +card-products('Transfer digital')
                    +card-products('Vinil textil')
                    +card-products('Plastizol')
                    +card-products('Dtf')
            section 
                p Los precios del estampado dependen del tamaño del diseño, ascí como el color de la prenda. Prenda: Negra, de colores, blanca.
                section.tipos_estampados
                    //- +card-products('Logo 7 cm x 5 cm')
                    //- +card-products('A4')
                    //- +card-products('A3')
            section.boton_ver_precio
                a: button.library-color-mainButton Ver precio de estampado de Polos
                a: button.library-color-mainButton Ver precio de estampado en Poleras
        footer
            section.footer_contend
                div
                    p Contacto directo <br><br>
                    p Whatsapp Tienda, y tambien yape: +51 935 863 556 <br>
                    | Email: siraqshop@gmail.com <br>
                    | Sergio Atanacio. Representante: +51 953 225 906 <br><br>
                    p Redes
                    ul 
                        li Youtube
                        li Facebook
                        li TikTok
                div 
                    p Dirección <br>
                    | Aviación 282. Tercer piso. Puesto 311. <br>
                    | Referencia: Cerca a la reja entre Avicación con Jiron Humbold.<br>
                    | La Victoria. <br>
                    | Lima-Perú<br>
        .footer_botton
        script(src="scripts/firs_index.js") 
