
include resourses/templates/template_head_index.pug

doctype html
html(lang="es")
    +head_template()
    body
        +menu_of_navigation()
        section.wrapper 
            template#template_stamping_materials
                +title_of_page('', '')
            +title_of_page(
                'Base directa', 
                'Es un tipo de estampado donde se estampa una base blanca.')
        +footer_sira()
        script.
            //alert(window.location.search.substring(1));
            alert(window.location.search.substring(1));



