section.section_add_product 
    form#form_upload_add_product_id.form_add_product
        label.label_form Nombre de etiqueta&nbsp;
        input.form_add_product_input.common_form_inputs
        label.label_form Descripción
        input.form_add_product_input.common_form_inputs
        label.label_form Portada de etiqueta
        input.input_file_tag(type="file")
        input#upload_add_product(type="submit" value="Subir Etiqueta")
