section.section_tag 
    form.form_tag
        label.label_tag Nombre de etiqueta&nbsp;
        input.input_tag
        label.label_tag Descripción
        input.input_tag
        label.label_tag Portada de etiqueta
        input.input_file_tag(type="file")
        button.input_submit_tag Click me!
