a.a_button(name="anchor" href="/temporary_administrative_panel")
    img(src="/images/logo.svg")

hr.horizontal_line

ul.ul_button
    button#add_product(data-target="#tab_add_product") Agregar producto
    button#add_tag(data-target="#tab_add_tag") Etiquetas
    button#my_profile(data-target="#tab_my_profile") Mi perfil
hr.horizontal_line








