section#tabs
    section#tab_add_product(data-content).
        <?php response_require('temporary_siraq/templatesAdmin/content_add_product.html')?>
    section#tab_add_tag(data-content).
        <?php response_require('temporary_siraq/templatesAdmin/content_add_tag.html')?>
    section#tab_my_profile(data-content)
        p Mi perfil


