section.section_add_product
    h1 Agregar producto
    form#form_upload_add_product_id.form_add_product(enctype="multipart/form-data")
        input(type="hidden" value="tab_add_product")
        label(for="") Nombre
        input.library-sizeAndStyle-inputOfAForm.library-color-commonFormInputs(type="" name="name_of_product" required)
        label(for="") Descripción
        textarea.library-sizeAndStyle-inputOfAForm.library-color-commonFormInputs(type="description_product" name="" cols="30" rows="10")
        label(for="") Tamaño
        input.library-sizeAndStyle-inputOfAForm.library-color-commonFormInputs(type="" name="product_size")
        label(for="") Precio en soles
        input.library-sizeAndStyle-inputOfAForm.library-color-commonFormInputs(type="number" name="product_price_in_soles")
        label(for="") Cantidad
        input.library-sizeAndStyle-inputOfAForm.library-color-commonFormInputs(type="number" name="product_quantity")
        label(for="") Etiqueta
        select.library-sizeAndStyle-inputOfAForm.library-color-commonFormInputs#product_label_id(type="" name="product_label")
            option(disabled="" selected) Selecciona una etiqueta
            option Ingles
            option Frances
            option Italiano
        label(for="") Archivo
        div 
            input(name="upload_file[]" type="file" multiple="")
            label(for="") Subir archivo
        input#upload_add_product(type="submit" value="Subir producto")
    #result_message
    
script.
    let function_tags = () =>
    {
        fetch("/tags")
        .then(function(response) 
        {
            if (response.ok) {
                return response.text();
            } else {
                throw "Error en la llamada";
            }
        })
        .then(function(texto) 
        {
            json_tags = JSON.parse(texto); 
            //console.log(json_tags);
            let select = json_tags.map(function(dataTag) 
            {
                return `<option value="${dataTag.id_tag}">${dataTag.name_tag}</option>`;
            });
            document.getElementById("product_label_id").innerHTML = '<option disabled="" selected >Selecciona una etiqueta</option>' + select; 
        
        })
        .catch(function(error) 
        {
            console.log(error);
        })
    };

    function_tags();
    
    let form_upload_add_product = document.getElementById('form_upload_add_product_id');
    
    form_upload_add_product.addEventListener('submit', function(event_of_submit_for_default)
    {
        event_of_submit_for_default.preventDefault();
    
        let data = new FormData(form_upload_add_product);
        console.log(data)
        fetch('/add_product_process', 
        {
            method: 'POST',
            body:   data,
        })
        .then(function(response) 
        {
            if (response.ok) {
                return response.text();
            } else {
                throw "Error en la llamada";
            }
        })
        .then(function(texto) 
        {
            //console.log(texto);
            //document.getElementById("result_message").innerHTML = JSON.stringify(texto);  
            document.getElementById("result_message").innerHTML = JSON.stringify(texto);  
            //form_upload_add_product.reset();
            function_tags();

            /*document.getElementById("result_message").innerHTML = JSON.parse(texto) 
                ? 'El producto fué registrado con éxito.' 
                : 'El producto no pudo ser registrado, comunícate con soporte.';*/
    
            // document.getElementById("escribir_curso").innerHTML = texto;
        })
        .catch(function(error) 
        {
            console.log(error);
        })
    
    });
    
    
    