/* *{
    background: red !important;
} */
.firs_catalog_and_us{
    /* background-color: royalblue; */
    display: flex;
    justify-content: center; 
    align-items: center;
}

.firs_catalog_and_us div{
    display: flex; min-width: 50rem; justify-content: center;
}

.firs_catalog_and_us div a{
    min-width: 20rem; 
    align-items: center; 
    justify-content: center; 
    display: flex; 
    min-height: 2.5rem; 
    margin-left: 1rem; 
    margin-right: 1rem; 

    background-color: #42d497;
    border-radius: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
