.sidebar
    background-color var(--plataforma-de-fondo)
    height 100vh


.sidebar_contend
    height 100vh
    padding 0 2em 


.horizontal_line
    border 0 none 
    padding 0 
    margin 0 
    min-height 0.1em 
    background-color rgba(255, 255, 255, 0.178)


.a_button
    justify-content center
    display grid
    img 
        max-height 2em 
        margin-top 1em
        margin-bottom 1em


.ul_button
    display grid
    margin-top 0
    margin-bottom 0
    padding-left 1em
    padding-bottom 1em
    button
        display flex
        background rgba(0, 0, 0, 0)
        border none
        font-size 1em
        font-family var(--font-size-common)
        margin-top 1em
        color rgba(240, 248, 255, 0.555)






.section_add_product 
    display grid
    grid-template-columns 1fr 3fr 1fr
    grid-template-rows 3em 25em
    height 90vh
    align-content center
    grid-row-gap 1em
    font-family var(--font-size-common)
    margin-bottom 1
    h1 
        grid-area 1/2
        text-align center
        display grid
        margin 0
        padding 0
        align-self baseline
        color #D7D7E1
        font-size 1.5em




.form_add_product 
    grid-area 2/2
    display grid
    grid-template-columns 1fr 4fr
    grid-row-gap 1.1em
    grid-column-gap 1em
    grid-template-rows 1fr 3fr repeat(6, 1fr)
    #upload_add_product 
        background-color var(--verde-botones)
        color #FFFBFA
        border-radius 1em
        border-width 0
        font-size 1.3em
        grid-column-start 1
        grid-column-end 3
        height 1.6em
    div 
        border-radius 1em
        border-width 0
        background-color #D7D7E1
        display grid
        position relative
        align-items center
        align-content center
        grid-template-areas 1fr
        input 
            position absolute
            min-width 100%
            min-height 100%
            opacity 0
        label 
            align-self center 
            text-align center 
            font-size 1em 
            font-family var(--font-size-common)
        textarea 
            padding-top 0.5em
            padding-bottom 0.5em


.section_tag 
    display flex
    justify-content center
    background-color var(--color-agua-sistema)
    min-width 55rem


.form_tag 
    min-width 5rem
    max-width 55rem
    display flex
    flex-direction column
    border-radius 0.5rem


.label_tag 
    display block
    min-width 50rem
    margin-bottom 0.5rem
    min-height 1rem
    border-radius 0.6rem
    font-size 1.5rem
    font-family var(--font-size-common)


.input_tag 
    display block
    min-width 50rem
    margin-bottom 2rem
    min-height 2rem
    border-radius 0.6rem
    padding-left 1rem
    padding-right 1rem
    font-size 1rem


.input_file_tag 
    display block
    min-width 50rem
    margin-bottom 2rem
    min-height 2rem
    font-size 1.2rem


.input_submit_tag 
    display block
    min-width 50rem
    margin-bottom 2rem
    min-height 2.5rem
    border-radius 0.6rem
    font-size 1.5rem
    font-family var(--font-size-common)


