
include ../resourses/templates/template_head_index.pug

doctype html
html(lang="es")
    +head_template()
    body
        +menu_of_navigation()
        template#template_stamping_materials
            +title_of_page('', '')
        section.wrapper
        +footer_sira()
        script.
            //alert(window.location.search.substring(1));
            //const urlParams = Object.fromEntries(new URLSearchParams(window.location.search));
            //console.log(urlParams);
        script(src="scripts/single_stamping_material.js") 




