/* 
En los estilos debe separarse los colores de los tamaños. 
Se diseña con atomic design.
Primitivos
    Colores
    tamaños
    Espaciados
Atomos
    botones
    Cajas de texto
    Inputs
    Iconos
Organismos
    Elementos de interfaz que se pueden reusar.
    Barra de busqueda con botones
Molecular o cards
    Formularios
    Barra de navegación principal
Secciones o templastes
    Heder
    Seciones o pestañas de una página
    Footer
Paginas
    Inicio
    Carga de archivos
    Panel administrativo
    Panel de perfil
*/
/* 
Primitive
- library-color-
- library-sizeAndStyle-
- library-layout-
- library-space-
Space es un margin bottom
 */
/* 
- library-primitive-elementToApply
- specific-pageWhereToApply-elementToApply
 */
/* Este css se debe compilar en la carpeta css de public */
:root 
    /* Colores */
    --siraq-gris-fondo #111E27
    --texto-botones #999A9A
    --verde-botones #02AF9C
    --plataforma-de-fondo #202D36
    --celeste-comun #35A9F2
    --color-agua-sistema aqua
    --color-background-input #2B383E
    --color-font-input #D7D7E1
    --color-white-font white
    /* Tipografía */
    --font-size-common 'Roboto', sans-serif
    /* Tamaños */
    --ancho-nav 850px
    --ancho-wrapper 750px

@require 'library/normalize_css'


common_text()
    text-decoration none
    font-size 0.8em
    font-family var(--font-size-common)
    color var(--texto-botones)

width_section(var_width)
    margin-left auto
    margin-right auto
    max-width var_width

library-sizeAndStyle-inputOfAFormAndTextArea()
    border-radius 1em
    border-width 0
    font-size 1em
    padding-left 1em
    padding-right 1em






@require 'library/library-first'
@require 'specific/main_page'
@require 'specific/login'
@require 'specific/administrative_panel'

