.wrapper_admin
    section.sidebar
        include templatesAdmin/sidebar.pug
    section.sidebar_contend
        include templatesAdmin/tabs_templatesAdmin.pug


script.
    const targets = document.querySelectorAll('[data-target]');
    const content = document.querySelectorAll('[data-content]');

    document.querySelector('#add_product').classList.add('active_button');
    document.querySelector('#tab_add_product').classList.add('active');

    console.log(targets);
    targets.forEach(target=>{
        target.addEventListener('click', ()=>{
            content.forEach(c=>{
                c.classList.remove('active')
            });  

            const t = document.querySelector(target.dataset.target);
            t.classList.add('active')

            targets.forEach(t=>{
                t.classList.remove('active_button')
            });

            const b = document.getElementById(target.id);
            b.classList.add('active_button');

        })

    });


<!-- End of Page Wrapper -->
script(src="/scripts/temporaryAdmin.js")