
<div class="wrapper">
  <section class="sidebar" id="sidebar_id"></section>
  <section class="sidebar_contend" id="sidebar_contend_id"></section>
</div>
<script>
  let hey = 'Esto es el sidebar';
  fetch("/resourses/templates/templatesAdmin/sidebar.html")
  .then(response=>response.text())
  .then(data=>{
      document.querySelector('#sidebar_id').appendChild = data;
  })
  .catch(err=>console.log(err))
  
  fetch("/resourses/templates/templatesAdmin/tabs_templatesAdmin.html")
  .then(response=>response.text())
  .then(data=>{
      document.querySelector('#sidebar_contend_id').appendChild = data;
  })
  .catch(err=>console.log(err))
  
  
  
  const targets = document.querySelectorAll('[data-target]');
  const content = document.querySelectorAll('[data-content]');
  
  document.querySelector('#add_product').classList.add('active_button');
  document.querySelector('#tab_add_product').classList.add('active');
  
  console.log(targets);
  targets.forEach(target=>{
      target.addEventListener('click', ()=>{
          content.forEach(c=>{
              c.classList.remove('active')
          });  
  
          const t = document.querySelector(target.dataset.target);
          t.classList.add('active')
  
          targets.forEach(t=>{
              t.classList.remove('active_button')
          });
  
          const b = document.getElementById(target.id);
          b.classList.add('active_button');
  
      })
  
  });
  
  
</script><!-- End of Page Wrapper -->
<script src="/scripts/temporaryAdmin.js"></script>