<!-- end client section -->
<!-- footer start -->
<footer>
   <div class="container">
      <div class="row">
         <!--<div class="col-md-4">-->
         <div class="information_f">
            <p><strong>Dirección:</strong> 
               </br>Jiron Humbold 1647. 
               </br>Galería Casita del deporte Segundo piso, puestos E05 y E09.
               </br>La victoria. 
               </br>Lima-Perú
            </p>
            <a href="https://wa.me/message/T773NR3FHHZKA1" target="_blank">
               <strong id="numero">Whatsapp Tienda, y tambien yape:</strong>
               +51 935 863 556
            </a>
            <p><strong>Email:</strong> siraqshop@gmail.com</p>
         </div>

         <div class="tags">
            <p><strong>
               <a href="https://www.youtube.com/channel/UC8k-unuctOVT1uSVnuQK8fA" target="_blank">
                     Youtube
               </a>
            </strong></p>
            <p><strong>
               <a href="https://web.facebook.com/Siraq-108789428242745/?ref=pages_you_manage" target="_blank">
                     Facebook
               </a>
            </strong></p>
            <p><strong>
               <a href="https://vm.tiktok.com/ZM8co6RhA/" target="_blank">
                     TikTok
               </a>
            </strong></p>
            <p><strong>Sergio Atanacio</strong></p>
            <p><strong>953 225 906</strong></p>
            <p><strong>Angel Gabriel</strong></p>
         </div>
      </div>
   </div>
</footer>