section 
    p <strong>Dirección:</strong> <br>Jiron Humbold 1647.  <br>Galería Casita del deporte Segundo piso, puestos E05 y E09. <br>La victoria.  <br>Lima-Perú 
    a(href="https://wa.me/message/T773NR3FHHZKA1" target="_blank") <strong id="numero">Whatsapp Tienda, y tambien yape:</strong> +51 935 863 556 
    p <strong>Email:</strong> siraqshop@gmail.com
    div
        p: strong: a(href="https://www.youtube.com/channel/UC8k-unuctOVT1uSVnuQK8fA" target="_blank") Youtube
        p: strong: a(href="https://web.facebook.com/Siraq-108789428242745/?ref=pages_you_manage" target="_blank") Facebook
        p: strong: a(href="https://vm.tiktok.com/ZM8co6RhA/" target="_blank") TikTok 
        p: strong Sergio Atanacio
        p: strong 953 225 906
        p: strong Angel Gabriel
section
    a(href="#numero") Llamanos para realizar una cotización.
    p Somos Siraq, una empresa de venta y estampado personalizados. Tenemos jersey algodon, jersey spum, y estampado en sublimado, vinil textil, base directa. 

