
<section class="section_add_product"> 
  <form class="form_add_product" id="form_upload_add_product_id">
    <label class="label_form">Nombre de etiqueta&nbsp;</label>
    <input class="form_add_product_input common_form_inputs"/>
    <label class="label_form">Descripción</label>
    <input class="form_add_product_input common_form_inputs"/>
    <label class="label_form">Portada de etiqueta</label>
    <input class="input_file_tag" type="file"/>
    <input id="upload_add_product" type="submit" value="Subir Etiqueta"/>
  </form>
</section>