
<section class="section_add_product">
  <h1>Agregar producto</h1>
  <form class="form_add_product" id="form_upload_add_product_id" enctype="multipart/form-data">
    <label class="label_form" for="">Nombre</label>
    <input class="form_add_product_input common_form_inputs" type="" name="name_of_product" required="required"/>
    <label class="label_form" for="">Descripción</label>
    <textarea class="form_add_product_input common_form_inputs" type="description_product" name="" cols="30" rows="10"></textarea>
    <label class="label_form" for="">Tamaño</label>
    <input class="form_add_product_input common_form_inputs" type="" name="product_size"/>
    <label class="label_form" for="">Precio en soles</label>
    <input class="form_add_product_input common_form_inputs" type="number" name="product_price_in_soles"/>
    <label class="label_form" for="">Cantidad</label>
    <input class="form_add_product_input common_form_inputs" type="number" name="product_quantity"/>
    <label class="label_form" for="">Etiqueta</label>
    <select class="form_add_product_input common_form_inputs" id="product_label_id" type="" name="product_label">
      <option disabled="" selected="selected">Selecciona una etiqueta</option>
      <option>Ingles</option>
      <option>Frances</option>
      <option>Italiano</option>
    </select>
    <label class="label_form" for="">Archivo</label>
    <div> 
      <input name="upload_file" type="file"/>
      <label for="">Subir archivo</label>
    </div>
    <input id="upload_add_product" type="submit" value="Subir producto"/>
  </form>
  <div id="result_message"></div>
</section>
<script>
  let function_tags = () =>
  {
      fetch("/tags")
      .then(function(response) 
      {
          if (response.ok) {
              return response.text();
          } else {
              throw "Error en la llamada";
          }
      })
      .then(function(texto) 
      {
          json_tags = JSON.parse(texto); 
          //console.log(json_tags);
          let select = json_tags.map(function(dataTag) 
          {
              return `<option value="${dataTag.id_tag}">${dataTag.name_tag}</option>`;
          });
          document.getElementById("product_label_id").innerHTML = '<option disabled="" selected >Selecciona una etiqueta</option>' + select; 
      
      })
      .catch(function(error) 
      {
          console.log(error);
      })
  };
  
  function_tags();
  
  let form_upload_add_product = document.getElementById('form_upload_add_product_id');
  
  form_upload_add_product.addEventListener('submit', function(event_of_submit_for_default)
  {
      event_of_submit_for_default.preventDefault();
  
      let data = new FormData(form_upload_add_product);
      console.log(data)
      fetch('/add_product_process', 
      {
          method: 'POST',
          body:   data,
      })
      .then(function(response) 
      {
          if (response.ok) {
              return response.text();
          } else {
              throw "Error en la llamada";
          }
      })
      .then(function(texto) 
      {
          //console.log(texto);
          //document.getElementById("result_message").innerHTML = JSON.stringify(texto);  
          document.getElementById("result_message").innerHTML = JSON.stringify(texto);  
          //form_upload_add_product.reset();
          function_tags();
  
          /*document.getElementById("result_message").innerHTML = JSON.parse(texto) 
              ? 'El producto fué registrado con éxito.' 
              : 'El producto no pudo ser registrado, comunícate con soporte.';*/
  
          // document.getElementById("escribir_curso").innerHTML = texto;
      })
      .catch(function(error) 
      {
          console.log(error);
      })
  
  });
</script>